footer {
    background-color: #333;
    padding: 10px;
    text-align: center;
    color: #fff;
    
  }

    body {
      background-image: url(end.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      
    }